h1{
	text-align: center;
	font-size: 30pt;
}

.window{
	position: fixed;
	height: 70%;
	width: 70%;
	border-style: solid;
	border-width: medium;
	margin-left: 15%;
	margin-top: 5%;
	background-color: black;
}

body{
	background-image: url("garage.jpg");
	height: 100%;
	width: 100%;
	background-size: cover;
	text-align: center;
}

h2{
	text-align: center;
	color: white;
	font-size: 2vw;
	padding-top: 5%
}

ul{
	color: white;
	font-size: 1vw;
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: inline;
	border-left: 1px solid;
}

li{
	margin-left: 0;
	border-left: none;
	list-style: none;
	display: inline;
}